/****** HEADER ******/
header{
    padding: 10px;
    float: left;
    background: #383737;
    color:#fff;
}
header a{color:#fff;}
div.title{float:left;}
header.admin-panel p.backtomain{text-align:left;}
p.adminPanel{margin: 10px 0;}
.menu>ul{display: flex;justify-content:center;}
.menu>ul>li>a{padding: 0 15px;}
.menu>ul>li{transition: all .15s ease-in-out;}
.menu>ul>li:hover{background: #d800ff;border-radius:5px;}
.menu>ul>li:hover a{color: #fff;text-decoration: none;}
.menu>ul>li.active{background: red;border-radius:5px;}
.auth{float: left;}
.auth .nav{float: right;}
.open>.dropdown-menu {display: block;}
.dropdown-menu {
    z-index: 1000 !important;
    display: none ;
    min-width: 110px !important;
    background-color: #fff !important;
    border: 1px solid rgba(0,0,0,.15) !important;
    border-radius: 4px !important;
}
header>div.auth>ul.nav a,
header>div.auth>ul.nav>p>a{
    color: #fff;
    font-size: 1.1em;
    transition: all .15s ease-in-out;
}
header>div.auth>ul.nav a:hover,
header>div.auth>ul.nav>p>a:hover{
    text-decoration: none;
    color: #0ff900;
}
header>div.auth>ul.nav>li>ul>li>a{color:#000;}
header>div.auth>ul.nav>li>ul>li>a:hover{text-decoration: none;color:red;}

/******* FOOTER ******/
footer{
    padding: 10px;
    float: left;
    background: #383737;
    color:#fff;
}

/****** MAIN PAGE CONTENT BOX  ******/
div.content>article{
    background: #fff;
    padding-bottom: 10px;
    margin-top: 25px;
}

/****** SINGLE POST ******/
p.backtomain{
    background: #383737;
    float: left;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}
p.backtomain>a{color:#fff;}
p.backtomain>a:hover{background: #fff;color:red;font-size: 1.1em;}
div.singl-article{
    float: left;
    padding: 10px 25px 10px 25px;
    background: #a2a2a2;
    color:#fff;
}
p.article-content{font-size:1.2em;}
p.article-author>span{font-weight: bold;}

/****** ADMIN PANEL ******/
div.admin-first-page>p{font-size:2em;}

        /*** ADMIN PAGE***/
div.add-page{
    text-align: right;
    background: rgba(84, 245, 74, 0.27) !important;
    display: flex !important;
    justify-content: flex-end;
    padding: 1% !important;
    margin-bottom: 10px;
    margin-top: 15px;

}
a#addPage>img{width:25%;}
a#addPage>img:hover{opacity: 0.7;}
div.add-page>p{
    margin-bottom: 0;
}

        /*** ADMIN POSTS***/
div.add-article {
    text-align: right;
    background: rgba(84, 245, 74, 0.27) !important;
    display: flex !important;
    justify-content: flex-end;
    padding: 1% !important;
    margin-bottom: 10px;
    margin-top: 15px;

}
a#addArticle>img{width:25%;}
a#addArticle>img:hover{opacity: 0.7;}
div.add-article>p{
    margin-bottom: 0;
}

/****** ADD POSTS******/


        /*** ADMIN USER***/
div.add-user{
    text-align: right;
    background: rgba(84, 245, 74, 0.27) !important;
    display: flex !important;
    justify-content: flex-end;
    padding: 1% !important;
    margin-bottom: 10px;
    margin-top: 15px;
}
a#addUser>img{width:25%;}
a#addUser>img:hover{opacity: 0.7;}
div.add-user>p{
    margin-bottom: 0;
}

        /*** ADMIN MULTIMEDIA***/
div.add-multimedia{
    text-align: right;
    background: rgba(84, 245, 74, 0.27) !important;
    display: flex !important;
    justify-content: flex-end;
    padding: 1% !important;
    margin-bottom: 10px;
    margin-top: 15px;
}
a#add>img{width:25%;}
a#add>img:hover{opacity: 0.7;}
div.add-multimedia>p{
    margin-bottom: 0;
}

        /*** ADMIN FILES***/
div.add-file{
    text-align: right;
    background: rgba(84, 245, 74, 0.27) !important;
    display: flex !important;
    justify-content: flex-end;
    padding: 1% !important;
    margin-bottom: 10px;
    margin-top: 15px;
}
a#addFile>img{width:25%;}
a#addFile>img:hover{opacity: 0.7;}
div.add-file>p{
    margin-bottom: 0;
}

/***** ACCAUNT *****/
.loadFile,
.loadAvatar,
.loadImage{
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    text-align: center;
    padding-top: 8%;
}
.loadFile>form,
.loadAvatar>form,
.loadImage>form{
    width: 50%;
    margin: 0 auto;
    background: #fff;
}
.loadFile>form>label,
.loadAvatar>form>label,
.loadImage>form>label{
    text-transform: uppercase;
    font-size: 2em;
}
.loadFile>.closes>img,
.loadAvatar>.closes>img,
.loadImage>.closes>img{
    cursor: pointer;
    width: 3%;
    margin: 1%;
}
.loadFile>.closes,
.loadAvatar>.closes,
.loadImage>.closes{
    width: 50%;
    margin: 0 auto;
    text-align: right;
    background: #fff;
}





.add-post,.admin-content,.content>div{border: 1px solid #000;float: left}
.content>div{
    margin-right: 1%;
    padding-bottom: 1%;
    text-align: center;
    margin-bottom: 1%;
}
.content>div:nth-child(n6){
    margin-right: 0%;
}

div.admin-auth{text-align: right;}
div.content{
    float: left;
    padding: 10px 25px 10px 25px;
    background: #a2a2a2;
}

div h1{margin-bottom: 0;}
.admin-content>ul{
    width:100%;
    margin-bottom: 0;
    padding-left: 0px;
}
.admin-content>ul>li>.post-admin>ul,.admin-content>ul>li>.post-admin>ul>li{
    float: left;
}
.admin-content>ul>li>{border: 1px solid}
.admin-content>ul>li>.post-admin>ul>li{border: 1px solid}
.post-atribut{float: left;padding: 5px;}
.post-admin,.admin-content>ul>li>ul{float: left;}
.admin-content>ul>li>ul>li{
    float: left;
    padding: 2px;
    border:1px solid;
}
ul{list-style-type: none;}
.admin-content>ul>li{border-bottom: 1px solid;display: flex;}
.admin-content>ul>li:last-child{border:none;}
.post-admin{padding-left: 0px !important;}
.post-admin>div{float: left;}
.admin-content{border:none;}
.admin-content>ul>li>ul{display: flex; align-items: center;}
.main:hover{
    transform: 1.5s;
    background: #880000;
    color:#fff;
}
a.panelEnter:hover{
    transform: 1.5s;
    background: #ffa500;
    color:#000;
}
button{cursor: pointer;}
button:hover{
    transform: 1.5s;
}
.backpost{
    background: red;
    color: #fff;
}
.backpost:hover{
    transform: 1.5s;
    background: #ffa500;
    color:#000;
}


.admin-auth{
    float: left;
    text-align: right;
}
.admin-auth .nav{
    /*float: right!important;*/
}
.admin-auth .open>.dropdown-menu {
    display: block;
}
.admin-auth .dropdown-menu {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    z-index: 1000 !important;
    display: none ;
    min-width: 160px !important;
    padding: 5px 0 !important;
    margin: 2px 0 0 !important;
    list-style: none !important;
    font-size: 14px !important;
    text-align: left !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border: 1px solid rgba(0,0,0,.15) !important;
    border-radius: 4px !important;
    box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
    background-clip: padding-box !important;
}

.pagin{
    min-height:1px !important;
    border:none !important;
    text-align: center !important;
}
.pagin>ul{
    justify-content: center;
}
.pagin>ul>li{
    font-size: 25px;
}
.single-user>li:nth-child(1n){width: 9%;}
.single-user>li:nth-child(2n){width: 22%;}
.single-user>li:nth-child(3n){width: 30%;}
.single-user>li:nth-child(4n){width: 30%;}
.single-user>li:nth-child(5n){width: 30%;}

.admin-users>ul{padding-left: 0;}

/**** ADMIN PANEL ****/
.header-admin{
    background: #383737;
    color:#fff;
}


.bar{
    padding:0 !important;
    display: block !important;
    margin: 0 !important;
    border:none !important;
    background:#1d1c1c !important; ;
    float: left;
}


/***** ACCOUNTS *****/
div.all-about-user{float: left;}
.account-info>div{
    float: left;}
.account-info, .postsbyuser{float: left;}
.account-info{padding-top: 2%;background: #fff;}
.all-about-user hr
{
    float: left;
    width: 100%;
    border: none;
    height: 3px;
    background: #c70f0f;
}
.postsbyuser>li{
    border-bottom: 1px solid;
    display: flex;
    background: #FFF;
}
.postsbyuser>li>.post-admin{
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #FFF;
    display: inline-block;
}
.postsbyuser>li>ul{
    display: flex;
    align-items: center;
}
.postsbyuser>li>ul>li{
    float: left;
    padding: 2px;
    border: 1px solid;
}
.changepass{padding-left: 0 !important;}
.changepass:hover{
    transform: 1.5s;
    background: #ffa500;
    color:#000;
}

.changeAvatar{
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    text-align: center;
    padding-top: 8%;
}
.changeAvatar>form{
    width: 50%;
    margin: 0 auto;
    background: #fff;
}
.changeAvatar>form>label{
    text-transform: uppercase;
    font-size: 2em;
}
.changeAvatar>.closes>img{
    cursor: pointer;
    width: 3%;
    margin: 1%;
}

.changeAvatar>.closes{
    width: 50%;
    margin: 0 auto;
    text-align: right;
    background: #fff;
}


#avatar{
    width: 100%;
    margin-bottom: 7%;
    border: 1px solid;
    border-radius: 10%;
}
.avatar-error{
    color:red;
    font-width:bold;
}
.admin-multimedia .image img{
    width:100%;
}
.multimedia-options {
    text-align: right;
    background: rgba(84, 245, 74, 0.27) !important;
    display: flex !important;
    justify-content: flex-end;
    padding: 1% !important;
}
.multimedia-options>p{
    margin-bottom: 0;
}
.image-options>p{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0;
}

.images>.image{padding: 0 !important;float: left;}
a#add>img, a#addPage>img{width:25%;}
a#add>img:hover, a#addPage>img:hover{opacity: 0.7;}
.image-options{
    position: absolute;
    top: 0%;
    background: rgba(91, 123, 171, 0.52) !important;
    border: none !important;
    width: 100%;
    height: 100%;
    display: none !important;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
    transition: 3s;
}
.images>.image:hover .image-options{
    display: flex !important;
    transition: 3s;
}
.admin-files .image img{
    width:100%;
}
.files-options {
    text-align: right;
    background: rgba(84, 245, 74, 0.27) !important;
    display: flex !important;
    justify-content: flex-end;
    padding: 1% !important;
}
.files-options>p{
    margin-bottom: 0;
}
.file-options>p{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0;
}

.files>.file{padding: 15px !important;float: left;}
.file-options{
    position: absolute;
    top: 0%;
    background: rgba(91, 123, 171, 0.52) !important;
    border: none !important;
    width: 100%;
    height: 100%;
    display: none !important;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
    transition: 3s;
}
.files>.file .file-inside:hover .file-options{
    display: flex !important;
    transition: 3s;
}
a#addFile>img{width:25%;}
a#addFile>img:hover{opacity: 0.7;}
.file-inside>img{
    width:100%;}
.fileName{
    text-align: center;
    border-bottom: 2px solid;
}

.add-page{padding-bottom: 4%;}