.add-post,.admin-content,.content>div{border: 1px solid #000;float: left}
.content>div{
    margin-right: 1%;
    padding-bottom: 1%;
    text-align: center;
    margin-bottom: 1%;
}
.content>div:nth-child(n6){
    margin-right: 0%;
}
div.header, div.footer, div.admin-auth, div.admin-all{padding: 10px;float: left}
div.admin-auth{text-align: right;}
div.content{
    float: left;
    padding: 10px 25px 10px 25px;
    background: #a2a2a2;
}
div.post{background: #fff;}
div h1{margin-bottom: 0;}
.admin-content>ul{
    width:100%;
    margin-bottom: 0;
    padding-left: 0px;
}
.admin-content>ul>li>.post-admin>ul,.admin-content>ul>li>.post-admin>ul>li{
    float: left;
}
.admin-content>ul>li>{border: 1px solid}
.admin-content>ul>li>.post-admin>ul>li{border: 1px solid}
.post-atribut{float: left;padding: 5px;}
.post-admin,.admin-content>ul>li>ul{float: left;}
.admin-content>ul>li>ul>li{
    float: left;
    padding: 2px;
    border:1px solid;
}
ul{list-style-type: none;}
.admin-content>ul>li{border-bottom: 1px solid;display: flex;}
.admin-content>ul>li:last-child{border:none;}
.post-admin{padding-left: 0px !important;}
.post-admin>div{float: left;}
.admin-content{border:none;}
.admin-content>ul>li>ul{display: flex; align-items: center;}
.main:hover{
    transform: 1.5s;
    background: #880000;
    color:#fff;
}
a.edpost:hover{
    transform: 1.5s;
    background: #ffa500;
    color:#000;
}
button{cursor: pointer;}
button:hover{
    transform: 1.5s;
}
.backpost{
    background: red;
    color: #fff;
}
.backpost:hover{
    transform: 1.5s;
    background: #ffa500;
    color:#000;
}
.auth{
    float: left;
    text-align: right;
}
.auth .nav{
    float: right!important;
    margin-right: 11%;
}
.open>.dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    z-index: 1000 !important;
    display: none ;
    min-width: 160px !important;
    padding: 5px 0 !important;
    margin: 2px 0 0 !important;
    list-style: none !important;
    font-size: 14px !important;
    text-align: left !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border: 1px solid rgba(0,0,0,.15) !important;
    border-radius: 4px !important;
    box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
    background-clip: padding-box !important;
}

.admin-auth{
    float: left;
    text-align: right;
}
.admin-auth .nav{
    /*float: right!important;*/
}
.admin-auth .open>.dropdown-menu {
    display: block;
}
.admin-auth .dropdown-menu {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    z-index: 1000 !important;
    display: none ;
    min-width: 160px !important;
    padding: 5px 0 !important;
    margin: 2px 0 0 !important;
    list-style: none !important;
    font-size: 14px !important;
    text-align: left !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border: 1px solid rgba(0,0,0,.15) !important;
    border-radius: 4px !important;
    box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
    background-clip: padding-box !important;
}

.pagin{
    min-height:1px !important;
    border:none !important;
    text-align: center !important;
}
.pagin>ul{
    justify-content: center;
}
.pagin>ul>li{
    font-size: 25px;
}
.single-user>li:nth-child(1n){width: 9%;}
.single-user>li:nth-child(2n){width: 22%;}
.single-user>li:nth-child(3n){width: 30%;}
.single-user>li:nth-child(4n){width: 30%;}
.single-user>li:nth-child(5n){width: 30%;}

.admin-users>ul{padding-left: 0;}

/**** ADMIN PANEL ****/
.header-admin{
    background: #383737;
    color:#fff;
}
.header-admin a{
    color:#fff;
}
.footer{
    background: #383737;
    color:#fff;
}
.bar{
    padding:0 !important;
    display: block !important;
    margin: 0 !important;
    border:none !important;
    background:#1d1c1c !important; ;
    float: left;
}
.dropdown-menu>li>a{color:#000;}

/***** ACCOUNTS *****/
div.all-about-user{float: left;}
.account-info>div{
    float: left;}
.account-info, .postsbyuser{float: left;}
.account-info{padding-top: 2%;background: #fff;}
.all-about-user hr
{
    float: left;
    width: 100%;
    border: none;
    height: 3px;
    background: #c70f0f;
}
.postsbyuser>li{
    border-bottom: 1px solid;
    display: flex;
    background: #FFF;
}
.postsbyuser>li>.post-admin{
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #FFF;
    display: inline-block;
}
.postsbyuser>li>ul{
    display: flex;
    align-items: center;
}
.postsbyuser>li>ul>li{
    float: left;
    padding: 2px;
    border: 1px solid;
}
.changepass{padding-left: 0 !important;}
.changepass:hover{
    transform: 1.5s;
    background: #ffa500;
    color:#000;
}
.loadImage{
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    text-align: center;
    padding-top: 8%;
}
.loadImage>form{
    width: 50%;
    margin: 0 auto;
    background: #fff;
}
.loadImage>form>label{
    text-transform: uppercase;
    font-size: 2em;
}
.loadImage>.closes>img{
    cursor: pointer;
    width: 3%;
    margin: 1%;
}

.loadImage>.closes{
    width: 50%;
    margin: 0 auto;
    text-align: right;
    background: #fff;
}
.changeAvatar{
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    text-align: center;
    padding-top: 8%;
}
.changeAvatar>form{
    width: 50%;
    margin: 0 auto;
    background: #fff;
}
.changeAvatar>form>label{
    text-transform: uppercase;
    font-size: 2em;
}
.changeAvatar>.closes>img{
    cursor: pointer;
    width: 3%;
    margin: 1%;
}

.changeAvatar>.closes{
    width: 50%;
    margin: 0 auto;
    text-align: right;
    background: #fff;
}
.loadFile{
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    text-align: center;
    padding-top: 8%;
}
.loadFile>form{
    width: 50%;
    margin: 0 auto;
    background: #fff;
}
.loadFile>form>label{
    text-transform: uppercase;
    font-size: 2em;
}
.loadFile>.closes>img{
    cursor: pointer;
    width: 3%;
    margin: 1%;
}

.loadFile>.closes{
    width: 50%;
    margin: 0 auto;
    text-align: right;
    background: #fff;
}

#avatar{
    width: 100%;
    margin-bottom: 7%;
    border: 1px solid;
    border-radius: 10%;
}
.avatar-error{
    color:red;
    font-width:bold;
}
.admin-multimedia .image img{
    width:100%;
}
.multimedia-options {
    text-align: right;
    background: rgba(84, 245, 74, 0.27) !important;
    display: flex !important;
    justify-content: flex-end;
    padding: 1% !important;
}
.multimedia-options>p{
    margin-bottom: 0;
}
.image-options>p{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0;
}

.images>.image{padding: 0 !important;float: left;}
a#add>img{width:25%;}
a#add>img:hover{opacity: 0.7;}
.image-options{
    position: absolute;
    top: 0%;
    background: rgba(91, 123, 171, 0.52) !important;
    border: none !important;
    width: 100%;
    height: 100%;
    display: none !important;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
    transition: 3s;
}
.images>.image:hover .image-options{
    display: flex !important;
    transition: 3s;
}
.admin-files .image img{
    width:100%;
}
.files-options {
    text-align: right;
    background: rgba(84, 245, 74, 0.27) !important;
    display: flex !important;
    justify-content: flex-end;
    padding: 1% !important;
}
.files-options>p{
    margin-bottom: 0;
}
.file-options>p{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0;
}

.files>.file{padding: 15px !important;float: left;}
.file-options{
    position: absolute;
    top: 0%;
    background: rgba(91, 123, 171, 0.52) !important;
    border: none !important;
    width: 100%;
    height: 100%;
    display: none !important;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
    transition: 3s;
}
.files>.file .file-inside:hover .file-options{
    display: flex !important;
    transition: 3s;
}
a#addFile>img{width:25%;}
a#addFile>img:hover{opacity: 0.7;}
.file-inside>img{
    width:100%;}
.fileName{
    text-align: center;
    border-bottom: 2px solid;
}